body{
    display: grid;
    place-items: center ;
    text-align: center;
    height: 100vh;
    margin: 0;
}

h1, h2{
    font-family: 'Courier New', Courier, monospace;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 0;
}

img{
    width: 500px;
    cursor: pointer ;
}

.text{
    width: 30%;
    text-align: center;
    color: red; 
    border: 2px solid black;
    margin: auto;
}

.text h2{
    font-size: xx-large;
}